@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700|PT+Sans:400,700|Maven+Pro:400,500,600,700|Work+Sans:200,400,700|Montserrat+Alternates:200,600,700');


body, button, input, optgroup, select, textarea {
    font-family: 'asap', Helvetica, Arial, sans-serif;
    font-weight: 400;
}
section.couple h2, .promo h3 {
    font-family: 'Work Sans', Helvetica, Arial, sans-serif;
    font-weight: 200;
}
h2, h3, h4, h6 {
    font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 0.5em;
}
h1, .placard h2 span {
    font-family: 'Montserrat Alternates', Helvetica, Arial, sans-serif;
    font-weight: 200;
}

/* _colors
pink:           ff0066 ff0066
TEXT green:     80b300 80b300
light green:    f3fae1 f3fae1
dark green:     6f8a28 6f8a28
*/


/* _BOLD --------------------- */

strong, .a, span.a, .priceRange, .filter h2 {
    font-weight: 500;
}

/* INHERIT ---------------------------------- */
/* fix the :focus messing up from bootstrap so that it wont have to be overwritten over and over evry time link styles change */
a:focus, header nav a {
    color: inherit;
    background: inherit;
}

/* --- _SECTIONS ---------------------------- */
html, body {
    height: 100%;
}
body {
    padding-top: 0;
    /*
    font-smooth: never;
    */
    color: #999;
    background: #f8f8f8;
    font-size: 1.1rem;
}
header {
}
/*-- _LINKS ---------------------------------------------------- */

a, a:focus, header nav a:hover, .promo h2 a:hover, .promo h4 a:hover, .promo p a:hover, .couple h2 a:hover, .keywords a:hover {
    text-decoration: none;
}
footer a, .promo h2 a, .promo h4 a, .promo p a {
    text-decoration: underline;
}
/*-- _COLORS ---------------------------------------------------- */
a, .a, h1, h1 a, .filter a:hover, header nav a:hover, .couple h2 a:hover, main.menu .itemList .priceRange {
    color: #ff0066;
    color: #80b300;
}
h2, h2 a, h3, h3 a {
    color: black;
}
/*
DIF PINK         ff6699   LH - FF69B4 / DK - FF1493 / FADED - DB7093
*/


.filter a {
    color: Black;
}
a:hover, .a:hover {
    color: Black;
    text-decoration: underline;
    cursor: pointer;
}
.promo, .promo h3, .filter h2, .filter a, .promo h2 a, .promo h4 a, .promo p a {
    color: white;
}
.keywords h2, .keywords a {
    color: black;
}

/*-- _HEADINGS and COPY -------------------------------------------- */

h2, h3 {
    line-height: 1.25;
    font-size: 1.8em;
}
.promo h3, .couple h2 {
    margin-bottom: 2rem;
}
h3 {
    font-size: 1.9em;
}
h4 {
    line-height: 1.2;
    margin-bottom: 0.5em;
    font-size: 1.3em;
}
p {
    line-height: 1.35;
    margin: 0 0 1em;
}
ul.native {
    padding-left: 20px;
    list-style: url("assets/images/thumbs/plus.svg");
}
ul.native p {
    margin-bottom: 0.3em;
}
ul.native.flat p {
    margin-bottom: 1`em;
}
/* for menus or links lists - current use: .filter */
ul.flat ,ul.flat li, ul.flat p, address {
    list-style: none;
    padding: 0;
    margin: 0;
}
.text-center ul.native:not(.flat) {
    text-align: left;
    margin: 0 0 1.3em;
}
hr {
    display: block;
    margin: 1em auto;
    border-style: inset;
    border-width: 1px;
    border: 1px dashed #f5f5f5;
}
c {
    white-space: nowrap;
}
cc {
    word-break: keep-all;
    white-space: nowrap;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}


/* _placard and _banner --------------------- */
 .banner > .row .placard:last-child {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 0 3px 3px 0;
    color: #666;

}
.placard h2 {
    margin-bottom: 0;
    color: white;
    font-weight: 200;
    font-size: 2.5em;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}
.placard h2 span {
    display: block;
    font-size: 0.275em;
    line-height: 1;
    padding-left: 4px;
    font-weight: bold;
}


.menu .banner {
    /*
    height: 60vh;
    min-height: 300px;
    */
    background-size: cover;
    background-position: center;
    padding-top: 2em;
    padding-bottom: 5em;
}

/* _CTA --------------------- */

.cta {
    display: block;
    padding: 1em 0;
}
.cta a {
    letter-spacing: 1px;
    line-height: 1.5;
    border-radius: 3px;
    padding: 0.25em 20px;

    border: 1px solid Black;
    color: Black;
    transition-property: margin, color, padding, border, box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: easy-in;
}
.promo .cta a {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
}
.couple .cta a {
    background: white;
}
.cta a:after {
    content: "\271A";
    content: "\2794";
    padding-left: 5px;
    font-size: 17px;
    font-family: arial;
    line-height: 1.5em;
    vertical-align: 0px;
    display: inline-block;
    transition-property: text-indent;
    transition-duration: 0.5s;
    transition-timing-function: easy-in;

}
.cta a:hover {
    padding-right: 10px;
    background: rgba(255, 255, 255, 1);
    color: #ff0066;
    color: #80b300;
    border-color: #ff0066;
    border-color: #80b300;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 1);
}
.text-center .cta a:hover {
}
.cta a:hover:after {
    text-indent: 10px;
}
.promo .cta a:hover {
    border-color: White;
    background: transparent;
    color: white;
}
/* --------------  _header _nav ---------------  */
/* for static nav enable this
header nav.col-sm {
    position: fixed;
    background: white;
}
*/
header {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .1);
    position: relative;
    z-index: 1;
}
header nav {
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1;
    background: white;
}
header nav li.navItem {
    margin-top: 0.5em;
}
header nav li a {
    padding: .25em 1em .25em 0;
    letter-spacing: -1px;
    border-radius: 3px;
    font-weight: 200px;
}

/* === _footer === */

footer {
    background: #f0f0f0;
    font-size: 0.8em;
    border-top: 1px solid #ddd;
}
footer .copyright {
    font-size: 0.7em;
    font-size: 12px;
    padding: 1em 0;
}
footer a, footer p, footer div {
    color: #888;
}
footer .copyright div:last-child {
    cursor: pointer;
    text-decoration: underline;
}
footer .copyright div:last-child:hover {
    color: black;
    text-decoration: none;
}

/* === BRAND CSS-LOGO === */
h1.brand {
    margin: 0;
    line-height: 1;
}
.brand a {
    color: #fff;
    margin: 0 15px 0 0;
    padding: 0;
    background: #ff0066;
    background: #80b300;
    border: 3px solid #fff;
    border-radius: 8% / 20%;
    font-size: 19px;
    float: left;
    text-align: center;
    overflow: hidden;
    margin-left: -4px;
}
    .brand a span {
        padding: 15px 12px 13px;
        display: inline-block;
        font-weight: 600;
    }
    .brand a:before, .brand a:after {
        border: 40px solid transparent;
        margin: 0 15px;
        border-radius: 10px;
        display: block;
        content: "";
        height: 0;
    }
    .brand a:before {
        border-top: 2px solid #fff;
        border-bottom: 0;
    }
    .brand a:after {
        border-bottom: 2px solid #fff;
        border-top: 0;
    }
    .brand a:hover {
        color: #ff0066;
        color: #80b300;
        background: #fff;
        border-color: #ff0066;
        border-color: #80b300;
        text-shadow: none;
        margin-left: 0;
    }
    .brand a:hover span {
        padding: 13px 10px 12px;
    }
    .brand a:hover:before {
        border-top: 4px solid #ff0066;
        border-top: 4px solid #80b300;
    }
    .brand a:hover:after {
        border-bottom: 3px solid #ff0066;
        border-bottom: 3px solid #80b300;
    }

/* --------------  filter ---------------  */

/* - _KEYWORDS ----------------- */
.filter .keywords {
    background: rgb(220, 160, 0);
    background: #e4c567;
    background: #d6ec93;
    background: #e8e87d;
    background: #f3fae1;
}
.keywords ul {
    margin-left: -1em;
    margin-left: -1Vw;
}
.keywords ul li {
    display: inline;
}
.keywords a {
    margin-left: 1em;
    margin: 0 0 0 1Vw;
    white-space: nowrap;
    font-size: 1.1em;
    line-height: 1;
    text-transform: capitalize;
}

/* --- SERCH --- --- --- */

.filter .search {
    background: #e23672;
    background: #ff0066;
    background: #e6005c;
    background:  #6f8a28;
}
.filter .search label {
    display: block;
}
.filter .search input {
    border: 0;
    width: 100%;
    height: 40px;
    padding: 1em 0.5em;
}

/* --------------  mainList ---------------  */
main.home .mainlist {
    margin: 2em 15px 1.75em;
}
.itemList li.header h3 {
    margin: 0 0 0.125em 0;
}
.itemList li.header h3 a {
    min-height: 170px;
    line-height: 1;
    font-size: 0.8em;
    display: block;
    background-size: 225%;
    background-position: center;
    position: relative;
    overflow: visible;
    padding: 0;
    margin: 0 -15px;
    transition-property: background-size;
    transition-duration: 5s;
    transition-timing-function: easy-in;
}
.itemList li.header h3 a:hover {
    color: inherit;
    background-size: 110%;
    transition-property: background;
    transition-duration: .5s;
    transition-timing-function: easy-in;
}
.itemList li.header span {
    transition-property: background;
    transition-duration: .5s;
    transition-timing-function: easy-in;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    padding: .25em 15px .3em;
    margin: 0;
}
.itemList li.header h3 a:hover span {
    background: rgba(255, 255, 255, 0);
    color: white;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .25), -2px -2px 0 rgba(0, 0, 0, .25);

}
main.home .itemList.flat {
    padding: 0 15px .5em;
    overflow: auto;
    background: white
}
.itemList p {
    text-align: right;
}
.itemList .fee, .itemList .hours .fieldName {
    text-transform: capitalize;
}

/* --- .HOVERBOX ---------- */
.hoverbox {
    position: relative;
}
.hoverbox .overflow {
    position: absolute;
    border-radius: 3px;
    display: none;
    background: white;
    box-shadow: 0 0 40px -5px rgba(0,0,0,0.5);
    z-index: 1;
    left: 0;
    font-size: 0.85em;
    line-height: 1.3;
    bottom: 1.5em;
    padding: .5em 1em;
}
.hoverbox .overflow.open {
    display: block;
}

/* --- .HOVERBOX ITEMLIST ---------- */
.itemList .hoverbox {
    float: left;
    margin: 0.5em 1em 0 0;
}
main.menu .itemList .hoverbox {
    margin-top: 1em;
}
main.menu .itemList .priceRange {
    text-align: right;
    margin: 1em 0 0 1em;
}

/* --- .HOVERBOX OVERFLOW ---------- */
.itemList .hoverbox .overflow {
    width: 15em;
}

/* --- .HOVERBOX P ---------- */
.itemList .hoverbox .overflow p {
    padding: .1em .2em;
}
.sun .sun, .mon .mon, .tue .tue, .wed .wed, .thu .thu, .fri .fri, .sat .sat {
    font-weight: 700;
    color: #555;
}

.itemList .hoverbox.address .overflow {
    padding: 1em 2em;
}
.itemList .hoverbox.address .overflow p {
    text-align: left;
}
.overflow p.odd {
    background: rgba(0,0,0, 0.045);
    border-top: 1px solid rgba(0,0,0, 0.008);
    border-bottom: 1px solid rgba(0,0,0, 0.008);
}

/* CONTENT SNIPPET STRUCTURE */

/* Snippet item - for example: images, the floating elements or min-width titles */
.fieldName {
    text-align: left;
    float: left;
    min-width: 40%;
}
.hours .fieldName {
    min-width: 30%;
}
/* the content container that doent wrap around the item */
.overflow {
    overflow: auto;
    display: block;
}
/* make siblings not visibly nest, and brakes line instead */



/* --------------  _promo ---------------  */
.promo {
    color: rgba(255,255,255,0.95);
    background: white;
}
.promo .gutter {
    padding: 1.25em 0 1em;
}
.promo.site .gutter {
    padding: 1.25em 5% 1em;
}
.promo .row {
    padding-right: 20px;
    padding-left: 20px;
}
.promo .row > div {
    border: 10px solid white;
    padding-left: 15px;
    padding-right: 15px;
}


/* Home Site Promo */
main.home .promo.site {
    padding-top: 2em;
}
.promo.site {
    padding-bottom: 2em;
}
main.home .promo.site .row > div {
    border-radius: 100px 0 100px 0;
}
main.home .promo.site .row > div:nth-child(1), main.home .promo.site .row > div:nth-child(4) {
    border-radius: 0 100px 0 100px;
}


/* Item Promo */
.promo.item {
    padding-top: 2em;
}
.promo.item .row > div {
    border-radius: 0 80px 0 80px;
}
.promo.item .row > div:nth-child(2), .promo.item .row > div:nth-child(4) {
    border-radius: 80px 0 80px 0;
}


/* Promo Colors */
.promo .row > div:first-child, .promo .row > div:nth-child(4) {
    background: #596732;
    background: #f3fae1;
}
.promo .row > div:nth-child(2), .promo .row > div:nth-child(3){
    background: #e23672;
    background: #e6005c;
    background: #6f8a28;
}
main.menu .promo.site .row > div:nth-child(2) {
    background: #f3fae1;
}


/* .promo text color inversion for darker background */
.promo .row > div:first-child, .promo .row > div:first-child p, .promo .row > div:first-child h3, .promo .row > div:first-child .cta a,
main.menu .promo.site .row > div:nth-child(2), main.menu .promo.site .row > div:nth-child(2) p, main.menu .promo.site .row > div:nth-child(2) h3, main.menu .promo.site .row > div:nth-child(2) .cta a,
.promo .row > div:nth-child(4), .promo .row > div:nth-child(4) p, .promo .row > div:nth-child(4) h3, .promo .row > div:nth-child(4) .cta a
{
    color: black;
}
.promo .row > div:first-child .cta a, .promo .row > div:nth-child(4) .cta a, main.menu .promo.site .row > div:nth-child(2) .cta a
{
    border-color: rgba(0,0,0,0.2);
}
.promo .row > div:first-child .cta a:hover, .promo .row > div:nth-child(4) .cta a:hover, main.menu .promo.site .row > div:nth-child(2) .cta a:hover
{
    border-color: rgba(0,0,0,1);
    box-shadow: 0 0 20px 0 rgba(0,0,0, .3);
}



form {
}
.btn-primary {
    font-size: 16px;
    padding: 5px 30px;
    border-radius: 3px;
    color: #444;
    background: white;
    border: 1px solid #999;
    margin-top: 20px;
    font-weight: 300;
}
.btn-primary:hover {
    background: #009999;
    border: 1px solid #009999;
}
textarea.form-control, .form-control {
    border-radius: 3px;
    border-color: #999;
}
.form-control:focus {
    border-color: #009999;
}
.form-control {
    height: 40px;
}
.form-group label {
    font-weight: 300;
    font-size: 0.8em;
}

/* --- BORDER TOP and BOTTOM ------------------------------------- */
.border-top {
    border-top: 3px solid rgba(0,0,0,0.031);
    margin-top: 4rem;
    padding-top: 2rem;
}
.border-bottom {
    border-bottom: 3px solid rgba(0,0,0,0.031);
    margin-bottom: 2rem;
    padding-bottom: 4rem;
}





/* --- DONE ------ DONE ------ DONE -------- DONE ------- DONE -------- DONE -------*/




                                        /* Up to _MEDIUM  */
                                        @media only screen and (max-width : 992px) {
                                            .promo h3 {
                                                font-size: 2em;
                                                line-height: 1;
                                                margin-left: 10%;
                                                margin-right: 10%;
                                            }
                                            .promo .row > div:first-child h3, .promo .row > div:last-child h3 {
                                                font-size: 2.5em;
                                            }
                                        }




                                        /* === _MOBILE and TABLETS ====== SMALL ================= */
                                        @media only screen and (max-width : 767px) {

                                            h3 {
                                                font-size: 1.4em;
                                            }
                                            .row {
                                                margin-top: 0;
                                                margin-bottom: 0;
                                            }
                                            .row > div[class*='col-'], ng-include > div[class*='col-'] {
                                                padding-top: 1rem;
                                                padding-bottom: 1rem;
                                            }
                                            .row .row > div {
                                                padding-top: 0;
                                                padding-bottom: 0;
                                            }
                                            /* --- CANCEL padding --- */
                                            .clearfix {
                                                padding: 0 !important;
                                                margin: 0 !important;
                                            }

                                            main.home .mainlist {
                                                margin-left: 0;
                                                margin-right: 0;
                                            }




                                            footer {
                                                background: #f8f8f8;
                                            }
                                            footer .d-flex {
                                                display: block !important;
                                                text-align: center;
                                                border-top: 1px solid #ccc;
                                            }
                                            footer .copyright div:last-child {
                                                display: none;
                                            }
                                            .popup .header {
                                                display: none;
                                            }
                                            .popup .credits-content {
                                                padding: 1em 0 1.5em;
                                                margin-bottom: 1em;
                                                border-bottom: 1px solid #ccc;
                                            }
                                            .promo .row, .couple .row {
                                                padding-right: 10px;
                                                padding-left: 10px;
                                            }
                                            .promo .row > div, .couple .row > div {
                                                border-width: 5px;
                                                border-radius: 0;
                                            }
                                            .promo.item .row > div:nth-child(2), .promo.item .row > div:nth-child(3) {
                                                border-radius: 80px 0 80px 0;
                                            }
                                            .promo.item .row > div:nth-child(4) {
                                                border-radius: 0 80px 0 80px;
                                            }
                                        }







                                        /* === col-xs-6 braking point ======================================== */
                                        @media only screen and (max-width : 575px) {

                                            nav > ul > li {
                                                clear: left;
                                            }
                                            nav li a {
                                                word-spacing: 2px;
                                            }

                                            .itemList .hoverbox .overflow {
                                                width: 12em;
                                                font-size: 0.8em
                                            }
                                            /* _placard and _banner --------------------- */

                                            .banner > .row .placard:first-child {
                                                background: rgba(255, 255, 255, 0.5);
                                                border-radius: 3px;
                                            }
                                            .banner > .row .placard:last-child {
                                                background: white;
                                                border-radius: 0;
                                            }
                                            .banner .row .placard {
                                                padding-top: .5rem;
                                                padding-bottom: .5rem;
                                            }
                                            .placard h2 {
                                                color: Black;
                                                text-shadow: none;
                                                font-weight: 500;
                                                line-height: 1;
                                            }
                                            .placard h2 span {
                                                font-weight: 700;
                                            }
                                            .menu .banner {
                                                background-size: auto 100%;
                                                background-position: center top;
                                                background-repeat: no-repeat;
                                                padding-top: 10em;
                                                padding-bottom: 0;
                                            }
                                            .promo ul {
                                                text-align: left;
                                                margin: 0 10%;
                                            }
                                            h1.brand a {
                                                margin-bottom: .5em;
                                                margin-left: -3px;
                                            }
                                            /* Home Site Promo */
                                            main.home .promo.site .row > div {
                                                border-radius: 0 100px 0 100px;
                                            }
                                            main.home .promo.site .row > div:nth-child(2), main.home .promo.site .row > div:nth-child(4) {
                                                border-radius: 100px 0 100px 0;
                                            }
                                            main.menu .promo.site .row > div:nth-child(3), main.menu .promo.site .row > div:nth-child(4) {
                                                display: none;
                                            }
                                        }








                                        /* === MOBILE ONLY ============ XSMALL ================ */
                                        @media only screen and (max-width : 480px) {
                                         }

                                        /* === Retina ========================================= */
                                        @media only screen and (max-width : 320px) {
                                            c, cc {
                                                word-brake: normal;
                                            }
                                            .row {
                                                display: block !important;
                                            }
                                            header nav li.navItem {
                                                margin-top: 0.5em;
                                            }
                                            h1.brand a {
                                                margin-bottom: 0.75em;
                                            }
                                            .text-center {
                                                text-align: left;
                                            }
                                            .promo .row {
                                                display: block;
                                            }
                                            div[class*='col-'] {
                                                max-width: auto;
                                                max-width: none;
                                                float: none;
                                            }
                                            .cta a:after, .cta a:hover:after {
                                                display: none;
                                            }
                                            .promo .cta a, .promo .cta a:hover {
                                                padding: 0.125em 0.5em;
                                                margin: 0;
                                                text-indent: 0;
                                                border: 1px solid white;
                                            }
                                            .promo .row > div:first-child .cta a, .promo .row > div:nth-child(4) .cta a,
                                            .promo .row > div:first-child .cta a:hover, .promo .row > div:nth-child(4) .cta a:hover {
                                                border: 1px solid black;
                                            }
                                        }
























/* ========== _MEDIUM or larger = ALL Desktops ============= */
@media only screen and (min-width: 769px) {

    /* === _STRUCTURE PADDING ==== 1 ===================================== */

    /*
    BOOTSTRAP GRID MEASURES
    Extra small <576px | Max container width: none (auto) | class: .col-
    Small ≥576px | Max container width: 540px | class: .col-sm-*
    Medium ≥768px | Max container width: 720px | class: .col-md-*
    Large ≥992px | Max container width: 960px | class: .col-lg-*
    Extra large ≥1200px | Max container width: 1140px | class: .col-xl-*
    */


    /* --- VERTICAL ------------------------------------- VERTICAL ---- */

    /* --- VERTICAL GUTTER --------------------- COLUMN --- */

    .row > div[class*='col-'], .row > ng-include > div[class*='col-'], .row > nav[class*='col-'] {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .row .row > div, .row .row > ng-include > div {
        padding-top: 0;
        padding-bottom: 0;
    }

    /* --- OVERWRITES ------------------------------------------------- */

    /* -- cancel just half the padding --- [col-no-padding] --- */

    .row > div.col-no-padding, .no-padding .row div {
        padding-bottom: 0;
    }   .no-padding .row div {
            padding-top: 0;
        }

    /* -- CANCEL ALL the padding and margin, fix side effects */
    .clearfix {
        padding: 0 !important;
        margin: 0 !important;
    }

    /* === _STRUCTURE PADDING ==== 2 ===================================== */

    /* --- HORIZONTAL ----------------------------------- HORIZONTAL ---- */

    /* --- HORIZONTAL GUTTER - ALL COLUMNS! --- */
    div[class*='col-'], nav[class*='col-'], aside[class*='col-'] {
        padding-left: 30px;
        padding-right: 30px;
    }

    /* --- OVERWRITES FOR HORIZONTAL GUTTER --- */
    main.home .mainlist div[class*='col-'],
    div[class*='col-'] div[class*='col-']  {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* === /STRUCTURE PADDING ==== */






    /* -----  mainList ------------ MEDIUM or larger ---  */

    .promo h3 {
        font-size: 2.4em;
        line-height: 1;
        margin-left: 10%;
        margin-right: 10%;
    }
    .promo .row > div:first-child h3, .promo .row > div:last-child h3 {
        font-size: 3em;
    }

    .itemList {
        padding: 0 10px;
    }
    section.menu.couple {
        margin-bottom: 3em;
    }
    /* Site Promo  (keyword ***) */
    main.menu .promo.site .row > div:first-child, main.menu .promo.site .row > div:nth-child(2) {
        border-radius: 80px 80px 0 0;
    }

    /* --- UL or DIV is being used --- --- */
    .half-width {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-gap: 0;
    }
    ul.third-width {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    /* _popup --------------------- MEDIUM or larger --- */
    .popup {
        display: none;
        position: fixed;
        top: 20%;
        left: 10%;
        /*
        transform: translate(-50%, -50%);
        */
        margin: 0;
        width: 80%;
        max-height: 80%;
        margin: auto;
        background: #fafafa;
        box-shadow:  0 0 0 2000px rgba(0,0,0,0.4);
        border-radius: 4px 4px 3px 3px;
        border: 1px solid #555;
    }
    .popup .header {
        background: #f3fae1;
        background: #cc0052;
        background: white;
        background: #f3fae1;
        padding: 1em 2%;
        cursor: pointer;
        border-radius: 3px 3px 0 0;
        }
        .popup h3 {
            margin: 0;
            font-size: 18px;
            font-weight: 400;
            color: #444;
            text-transform: uppercase;
        }
        .popup h4 {
            color: #444;
        }
        .popup h3 span {
            float: right;
            cursor: pointer;
            font-size: 1.3em;
            margin-top: -0.3em;
            text-transform: none;
        }
    .popup-content {
        overflow: auto;
        background: #fff;
        padding: 15px 2%;
        border-radius: 0 0 0 3px;

    }
    .credits-content {
        float: right;
        width: 230px;
        padding: 15px 2%;
    }
    .popup p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .popup.open {
        display: block;
    }
}



        /* MEDIUM to LARGE */
        @media only screen and (min-width: 769px) and (max-width : 1199px) {
            .keywpords a {
                font-size: 0.9em;
                line-height: 0.75;
            }
            .placard h2 {
                font-size: 3em;
            }

        }

        /* _MEDIUM only  */
        @media only screen and (min-width: 769px) and (max-width : 992px) {
            .promo ul {
                text-align: left;
                margin: 0 10%;
            }
            h3 {
                font-size: 1.4em;
            }
        }

        /* === LAST _LARGE or larger =================================== */
        @media only screen and (min-width : 993px) {
            body {
            }
            .placard h2 {
                font-size: 4em;
            }
            .menu.couple {
                font-size: 1.125em;
            }
            .menu.couple .gutter {
                padding-left: 10%;
                padding-right: 10%;
            }
            .itemList li.header h3 a {
                min-height: 200px;
            }
            header nav li a {
                padding: 0.85em .37em;
                display: inline-block;
            }
            header nav li a:hover {
                background: #f8f8f8;
            }

        }

        /* === _LAST X-LARGE or larger =================================== */
        @media only screen and (min-width : 1201px) {
            .itemList li.header h3 a {
                min-height: 230px;
            }
        }




/*


element {

}
popup wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
}
popup {
    position: fixed;
    z-index: 1;
}
*/

