<footer class="container-fluid">
        <div class="row">
            <aside class="col-sm" role="contentinfo">
                <!-- ng-animate -->
                <div ng-app="ngAnimate">
                    <div class="popup text-left" ng-class="myVar">
                        <div class="header hidden-xs" ng-click="myVar=''">
                            <h3>Disclaimer and Credits <span>x</span></h3>
                        </div>
                        <div class="credits-content" ng-class="{ active: isActive('/') }">
                            <h4>Credits</h4>
                            <ul class="flat">
                                <li><p><a href="http://www.alexlais.com" target="_blank">Webdesign by&hellip;</a></p></li>
                                <li><p><a href="http://www.pixabay.com" target="_blank">Free stock images by&hellip;</a></p></li>
                            </ul>
                        </div>
                        <div class="popup-content">
                            <h4>Disclaimer</h4>
                            <div>
                                <p>Lorem ipsum dolor sit amet, eos ad delectus adolescens dissentiet, meis quas eum eu. Et minim utroque quo, eum cu tacimates sensibus philosophia.</p>
                                <p>Lorem ipsum dolor sit amet, eos ad delectus adolescens dissentiet, meis quas eum eu. Et minim utroque quo, eum i vel ne, no vim novum everti An invidunt expetendis vim, ei vim zril scaevola electram</p>
                                <p>Nostrud verterem an quo, ex ridens iuvaret erroribus</p>
                                <p>Cu tacimates sensibus philosophia. Ea quando honestatis repudiandae pri, at modo essent theophrastus mel, recusabo repudiare sit id.</p>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- /ng-animate -->
            	<div class="d-flex justify-content-between copyright">
            	    <div>Copyright &copy; 2017 <c>Delicato.ca</c>. <c>All Rights Reserved</c>.</div>
            	    <div ng-click="myVar='open'"><span>Disclaimer &amp; Credits</span></div>
            	</div>
            </aside>
        </div>
</footer>